@model IEnumerable<MerxProject.Models.ApplicationUser>

@{
    ViewBag.Title = "listaWey";
}

<h2>listaWey</h2>

<button class="btn btn-primary btn-sm pull-right" data-toggle="modal" id="Nuevo">Nuevo</button>
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="idModalRegistrar" tabindex="-1" data-url='@Url.Action("popupUsuarios", "Account", new { applicationUser = "", accion = "1" })'></div>
<br />


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                <button class="btn btn-primary btn-sm" data-toggle="modal" id="Editar">Editar</button>
                <div class="modal fade" data-keyboard="false" data-backdrop="static" id="idModalUpdate" tabindex="-1" data-url='@Url.Action("popupUsuarios", "Account", new { Id = item.Id, accion = "2" })'></div>
                <button class="btn btn-primary btn-sm" data-toggle="modal" id="Elimninar">Eliminar</button>
                <div class="modal fade" data-keyboard="false" data-backdrop="static" id="idModalElminar" tabindex="-1" data-url='@Url.Action("popupUsuarios", "Account", new { Id = item.Id, accion = "3" })'></div>

            </td>
        </tr>

    }

</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $('#Nuevo').click(function () {
            var url = $('#idModalRegistrar').data('url');
            $.get(url, function (data) {
                $("#idModalRegistrar").html(data);
                $("#idModalRegistrar").modal('show');
            });
        });
    });

    $(document).ready(function () {
        $('#Editar').click(function () {
            var url = $('#idModalUpdate').data('url');
            $.get(url, function (data) {
                $("#idModalUpdate").html(data);
                $("#idModalUpdate").modal('show');
            });
        });
    });

    $(document).ready(function () {
        $('#Elimninar').click(function () {
            var url = $('#idModalElminar').data('url');
            $.get(url, function (data) {
                $("#idModalElminar").html(data);
                $("#idModalElminar").modal('show');
            });
        });
    });

    function soloUno(checkbox) {
        var checkboxes = document.getElementsByName('resp')
        checkboxes.forEach((item) => {
            if (item !== checkbox) item.checked = false
        })
    }

</script>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

