@model MerxProject.Models.VentaViewModels.VentaViewModels

@{
    ViewBag.Title = "Tienda Virtual";
    //Layout = "~/Views/Shared/_LayoutProducto.cshtml";
    Layout = null;
    int radio_Id = 0;
    int h = 0;
    int idAux = 0, idAux2 = 1;
    string rutaSvg = "";
    string SvgColor = "";
}

<title>Muebleria Merx - Tienda Virtual</title>
<script src="~/Content/SweetAlert/sweetalert2.all.min.js"></script>

@if (ViewBag.outStock == 1)
{
    <script type="text/javascript">

        document.addEventListener('DOMContentLoaded', function () {
            Swal.fire(
                'Espera!',
                'El producto en color "@ViewBag.nombreColor" ya no tiene más existencias por el momento.',
                'warning'
            )
        }, false);




    </script>
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Product</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Little Closet template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/Content/ProductAssets/styles/bootstrap-4.1.2/bootstrap.min.css">
    <link href="~/Content/ProductAssets/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/Content/ProductAssets/plugins/flexslider/flexslider.css">
    <link rel="stylesheet" type="text/css" href="~/Content/ProductAssets/styles/productChido.css">
    <link rel="stylesheet" type="text/css" href="~/Content/ProductAssets/styles/product_responsive.css">
</head>
<body>

    <div class="super_container">

        <!-- Header -->

        <header class="header">
            <div class="header_overlay"></div>
            <div class="header_content d-flex flex-row align-items-center justify-content-start">
                <div class="logo">
                    <a href="#">
                        <div class="d-flex flex-row align-items-center justify-content-start">
                            <div><a href="../Home/Index"><img src="~/Content/assets/img/logo.png" alt="" max-width="100px" height="40"></a></div>
                        </div>
                    </a>
                </div>
                <div class="hamburger"><i class="fa fa-bars" aria-hidden="true"></i></div>
                <nav class="main_nav">
                    <ul class="d-flex flex-row align-items-start justify-content-start">
                        <li><a href="#">Women</a></li>
                        <li><a href="#">Men</a></li>
                        <li><a href="#">Kids</a></li>
                        <li><a href="#">Home Deco</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>
                <div class="header_right d-flex flex-row align-items-center justify-content-start ml-auto">


                    @if (Request.IsAuthenticated)
                    {

                        <!-- User -->
                        <div class="user"><a href="#"><div><img src="~/Content/ProductAssets/images/user.svg" alt="https://www.flaticon.com/authors/freepik"></div></a></div>
                        <!-- Cart -->
                        <div class="user"><a href="https://localhost:44309/Tienda/indexTienda"><div><img src="~/Content/ProductAssets/images/cart.svg" alt="https://www.flaticon.com/authors/freepik"><div>@ViewBag.cantidadCarrito</div></div></a></div>
                        <!-- Log Out-->
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="user"><a href="javascript:document.getElementById('logoutForm').submit()"><div><img src="~/Content/ProductAssets/images/logout.svg" alt="https://www.flaticon.com/authors/freepik"></div></a></div>

                        }
                    }
                    else
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                            <li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                        </ul>
                    }
                </div>
            </div>
        </header>

        <div class="super_container_inner">
            <div class="super_overlay"></div>

            <!-- Home -->

            <div class="home">
                <div class="home_container d-flex flex-column align-items-center justify-content-end">
                    <div class="home_content text-center">
                        <div class="home_title">Producto</div>
                        <div class="breadcrumbs d-flex flex-column align-items-center justify-content-center">
                            <ul class="d-flex flex-row align-items-start justify-content-start text-center">
                                <li><a href="#">Home</a></li>
                                <li><a href="category.html">Tienda</a></li>
                                <li>@Model.Producto.Nombre</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Product -->

            <div class="product">
                <div class="container">
                    <div class="row">

                        <!-- Product Image -->
                        <div class="col-lg-6">

                            <img id="background-image" src="~/Content/assets/img/Productos/@Model.Producto.Imagen" />

                            @{
                                rutaSvg = Url.Content(Model.Producto.Imagen).Replace(".png", ".svg");
                            }

                            <img src=@rutaSvg id="product-svg" class="svg" />


                        </div>


                        <!-- Product Info -->
                        <div class="col-lg-6 product_col">
                            <div class="product_info">
                                <div class="product_name">@Model.Producto.Nombre</div>
                                <div class="product_category">In <a href="category.html">Category</a></div>
                                <div class="product_price">$@Model.Producto.Precio</div>
                                <div class="product_size">
                                    <div class="product_size_title">Select Color</div>
                                    <ul class="d-flex flex-row align-items-start justify-content-start">
                                        @for (int i = 1; i < Model.InventarioCollection.Count; i++)
                                        {
                                            radio_Id++;
                                            if (Model.InventarioCollection[i].Cantidad >= 1)
                                            {
                                                <li>
                                                    <input type="radio" id="hue" name="option" value="@Model.ColorsCollection[i].Codigo" class="regular_radio" onClick="changeSrc()" style="background: @Model.ColorsCollection[i].Codigo">
                                                    @*<label for=@radio_Id></label>*@
                                                </li>

                                            }
                                            else
                                            {
                                                <li>
                                                    <input type="radio" id=@radio_Id name="option" disabled value="@Model.ColorsCollection[i].Codigo" onClick="changeSrc()" class="regular_radio" style="background: @Model.ColorsCollection[i].Codigo">
                                                    @*<label for=@radio_Id ></label>*@
                                                </li>
                                            }
                                        }
                                    </ul>
                                </div>
                                <div class="product_text">
                                    <p>@Model.Producto.Descripcion</p>
                                </div>
                                <div class="product_buttons">
                                    <div class="text-right d-flex flex-row align-items-start justify-content-start">

                                        @if (ViewBag.NoLogIn == 0)
                                        {
                                            <div class="product_button product_fav text-center d-flex flex-column align-items-center justify-content-center">

                                                <a id="favo" name=@idAux>
                                                    <div>
                                                        <div>
                                                            <img src="~/Content/ProductAssets/images/heart.svg" class="svg" />
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="product_button product_cart text-center d-flex flex-column align-items-center justify-content-center">

                                                <a id="carri" name=@idAux2>

                                                    <div>
                                                        <div>

                                                            <img src="~/Content/ProductAssets/images/cart.svg" class="svg" />

                                                        </div>
                                                    </div>

                                                </a>
                                            </div>

                                        }

                                        @if (ViewBag.NoLogIn == 1)
                                        {
                                            <div class="product_button product_fav text-center d-flex flex-column align-items-center justify-content-center">

                                                @if (Model.ProductosFavId.Count > 0)
                                                {

                                                    using (Html.BeginForm("AgregarProductoFavorito", "Producto", FormMethod.Post, new { id = idAux }))
                                                    {
                                                        <input type="hidden" name="id" value=@Model.Producto.Id id=@idAux>
                                                        <input type="hidden" name="accion" value="2" id=@idAux>
                                                        <a id=@idAux name=@idAux href="" onclick="$('#@idAux').submit(); return false;">
                                                            @*<a id=@idAux name=@idAux href="@Url.Action("AgregarProductoFavorito", "Producto", new { id = Model[h].Id })">*@

                                                            <div>
                                                                <div>

                                                                    <img src="~/Content/ProductAssets/images/heartRojo.svg" class="img" />
                                                                </div>
                                                            </div>

                                                        </a>
                                                    }
                                                }
                                                else
                                                {
                                                    using (Html.BeginForm("AgregarProductoFavorito", "Producto", FormMethod.Post, new { id = idAux }))
                                                    {
                                                        <input type="hidden" name="id" value=@Model.Producto.Id id=@idAux>
                                                        <input type="hidden" name="accion" value="1" id=@idAux>
                                                        <a id=@idAux name=@idAux href="" onclick="$('#@idAux').submit(); return false;">
                                                            <div>
                                                                <div>

                                                                    <img src="~/Content/ProductAssets/images/heartBlanco.svg" class="svg" />
                                                                </div>
                                                            </div>

                                                        </a>
                                                    }
                                                }

                                            </div>

                                        }


                                        <div class="product_button product_cart text-center d-flex flex-column align-items-center justify-content-center">

                                            @using (Html.BeginForm("AgregarProductoCarrito", "Producto", FormMethod.Post, new { id = "formCarrito" }))
                                            {
                                                <input type="hidden" name="id" value=@Model.Producto.Id id=@idAux2>
                                                <input type="hidden" name="accion" value="1" id=@idAux2>
                                                <input type="hidden" name="color" value="" id="ColorId">
                                                <input type="hidden" name="cantidadProducto" value="1" id=@idAux2>
                                                <input type="hidden" name="namePag" value="Bamboo1" id=@idAux>
                                                <input type="hidden" name="esCarrito" value="False" id=@idAux2>
                                                <input type="hidden" name="SvgColor" value="" id="SvgColor">
                                                <a href="" onclick="$('#formCarrito').submit(); return false;">
                                                    <div>
                                                        <div>
                                                            <img src="~/Content/ProductAssets/images/cart_0.svg" class="svg" />
                                                        </div>
                                                    </div>
                                                </a>
                                            }
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <!-- Footer -->

            <footer class="footer">
                <div class="footer_content">
                    <div class="container">
                        <div class="row">

                            <!-- About -->
                            <div class="col-lg-4 footer_col">
                                <div class="footer_about">
                                    <div class="footer_logo">
                                        <a href="#">
                                            <div class="d-flex flex-row align-items-center justify-content-start">
                                                <div class="footer_logo_icon"><img src="images/logo_2.png" alt=""></div>
                                                <div>Little Closet</div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="footer_about_text">
                                        <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse potenti. Fusce venenatis vel velit vel euismod.</p>
                                    </div>
                                </div>
                            </div>

                            <!-- Footer Links -->
                            <div class="col-lg-4 footer_col">
                                <div class="footer_menu">
                                    <div class="footer_title">Support</div>
                                    <ul class="footer_list">
                                        <li>
                                            <a href="#"><div>Customer Service<div class="footer_tag_1">online now</div></div></a>
                                        </li>
                                        <li>
                                            <a href="#"><div>Return Policy</div></a>
                                        </li>
                                        <li>
                                            <a href="#"><div>Size Guide<div class="footer_tag_2">recommended</div></div></a>
                                        </li>
                                        <li>
                                            <a href="#"><div>Terms and Conditions</div></a>
                                        </li>
                                        <li>
                                            <a href="#"><div>Contact</div></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Footer Contact -->
                            <div class="col-lg-4 footer_col">
                                <div class="footer_contact">
                                    <div class="footer_title">Stay in Touch</div>
                                    <div class="newsletter">
                                        <form action="#" id="newsletter_form" class="newsletter_form">
                                            <input type="email" class="newsletter_input" placeholder="Subscribe to our Newsletter" required="required">
                                            <button class="newsletter_button">+</button>
                                        </form>
                                    </div>
                                    <div class="footer_social">
                                        <div class="footer_title">Social</div>
                                        <ul class="footer_social_list d-flex flex-row align-items-start justify-content-start">
                                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer_bar">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="footer_bar_content d-flex flex-md-row flex-column align-items-center justify-content-start">
                                    <div class="copyright order-md-1 order-2">
                                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                        Copyright &copy;
                                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    </div>
                                    <nav class="footer_nav ml-md-auto order-md-2 order-1">
                                        <ul class="d-flex flex-row align-items-center justify-content-start">
                                            <li><a href="category.html">Women</a></li>
                                            <li><a href="category.html">Men</a></li>
                                            <li><a href="category.html">Kids</a></li>
                                            <li><a href="category.html">Home Deco</a></li>
                                            <li><a href="#">Contact</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

    </div>

    <script src="~/Content/ProductAssets/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/ProductAssets/styles/bootstrap-4.1.2/popper.js"></script>
    <script src="~/Content/ProductAssets/styles/bootstrap-4.1.2/bootstrap.min.js"></script>
    <script src="~/Content/ProductAssets/plugins/greensock/TweenMax.min.js"></script>
    <script src="~/Content/ProductAssets/plugins/greensock/TimelineMax.min.js"></script>
    <script src="~/Content/ProductAssets/plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="~/Content/ProductAssets/plugins/greensock/animation.gsap.min.js"></script>
    <script src="~/Content/ProductAssets/plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="~/Content/ProductAssets/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="~/Content/ProductAssets/plugins/easing/easing.js"></script>
    <script src="~/Content/ProductAssets/plugins/progressbar/progressbar.min.js"></script>
    <script src="~/Content/ProductAssets/plugins/parallax-js-master/parallax.min.js"></script>
    <script src="~/Content/ProductAssets/plugins/flexslider/jquery.flexslider-min.js"></script>
    <script src="~/Content/ProductAssets/js/product.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinyColorPicker/1.1.1/jqColorPicker.min.js"></script>
    <script src="https://rawgithub.com/kangax/fabric.js/master/dist/fabric.js"></script>

</body>
</html>


<script type='text/javascript'>


    function changeSrc() {

        var rates = document.getElementsByName('option');
        var rate_value;
        for (var i = 0; i < rates.length; i++) {
            if (rates[i].checked) {
                rate_value = rates[i].value;
            }
        }

        console.log(rate_value);

        $('#ColorId').val(rate_value);


    }


    function hexToRgb(color) {
        var shorthandRegex = /^#?([a-f\d])([a-f\d])([a-f\d])$/i;
        color = color.replace(shorthandRegex, function (m, r, g, b) {
            return r + r + g + g + b + b;
        });

        var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(color);
        return result ? {
            r: parseInt(result[1], 16),
            g: parseInt(result[2], 16),
            b: parseInt(result[3], 16)
        } : {
                r: 0,
                g: 0,
                b: 0
            };
    }
    $(document).ready(function () {

        // Reference the color shape that was drawn over the image


        $('input[type="radio"]').on("change", function () {
            $('#product-svg path').each(function () {
                $(this).attr("id", "product_shape");
            });
            $('#product-svg polygon').each(function () {
                $(this).attr("id", "product_shape");
            });
            $('#product-svg rect').each(function () {
                $(this).attr("id", "product_shape");
            });
            const overlay = document.getElementById("product_shape");
            overlay.style.fill = this.value;

            var valuesWe = $('#product_shape').get(0).outerHTML;
            console.log(valuesWe);
            $("#SvgColor").val(valuesWe);
        });
    });


</script>
