@model IEnumerable<MerxProject.Models.Proveedor>

@{
    ViewBag.Title = "ListaProveedor";
}
<h2>Lista de Proveedores</h2>
<button class="btn btn-primary btn-sm pull-right" data-toggle="modal" id="Nuevo">Nuevo</button>
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="idModalRegistrar" tabindex="-1" 
     data-url='@Url.Action("popUpProveedores", "Proveedor", new { applicationUser = "", accion = "1" })'></div>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Persona.Nombre)
        </th>
        <th>
            @Html.DisplayName("Razón Social")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Giro)
        </th>
        <th>
            @Html.DisplayName("Correo Electrónico")
        </th>
        <th>
            @Html.DisplayName("Teléfono")
        </th>
        <th>
            @Html.DisplayName("Domicilio")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Persona.Ciudad)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Persona.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RazonSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Giro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Persona.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Persona.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Persona.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Persona.Ciudad)
            </td>
            <td>
                <button type="submit" class="btn btn-primary btn-sm" data-toggle="modal" id="edit_@item.Id" 
                        onclick="createModal('@Url.Action("popUpProveedores", "Proveedor" , new {id=item.Id, accion = "2" })')">Editar</button>
                <button class="btn btn-primary btn-sm" data-toggle="modal" id="Elimninar" id="delete_@item.Id" 
                        onclick="createModal('@Url.Action("popUpProveedores", "Proveedor" , new {id=item.Id, accion = "3" })')">Eliminar</button>
            </td>
        </tr>

    }
</table>
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="idModalUpdate" tabindex="-1"></div>
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="idModalElminar" tabindex="-1"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $('#Nuevo').click(function () {
            var url = $('#idModalRegistrar').data('url');
            $.get(url, function (data) {
                $("#idModalRegistrar").html(data);
                $("#idModalRegistrar").modal('show');
            });
        });
    });


    function createModal(url) {
        $.get(url, function (data) {
            $("#idModalUpdate").html(data);
            $("#idModalUpdate").modal('show');
        });

    }

    function createModal(url) {
        $.get(url, function (data) {
            $("#idModalElminar").html(data);
            $("#idModalElminar").modal('show');
        });

    }


</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}