@model IEnumerable<MerxProject.Models.Empleado>

@{
    ViewBag.Title = "ListaEmpleado";
}

<h2>Lista de Empleados</h2>

<div class="modal fade" data-keyboard="false" data-backdrop="static" id="idModalRegistrar" tabindex="-1" 
     data-url='@Url.Action("PopUpEmpleados", "Empleado", new { applicationUser = "", accion = "1" })'></div>
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Personass.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Personass.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Personass.Correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuarioss.User)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuarioss.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuarioss.Rol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaIngreso)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td> 
                @Html.DisplayFor(modelItem => item.Personass.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Personass.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Personass.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuarioss.User)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuarioss.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuarioss.Rol) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaIngreso)
            </td>
            <td>
                <button type="submit" class="btn btn-primary btn-sm" data-toggle="modal" id="edit_@item.Id" 
                        onclick="createModal('@Url.Action("PopUpEmpleados", "Empleado" , new {id=item.Id, accion = "2" })')">Editar</button>
                <button type="submit" class="btn btn-primary btn-sm" data-toggle="modal" id="delete_@item.Id" 
                        onclick="createModal('@Url.Action("PopUpEmpleados", "Empleado" , new {id=item.Id, accion = "3" })')">Eliminar</button>
            </td>
        </tr>
    }
</table>
<button class="btn btn-primary btn-sm pull-right" data-toggle="modal" id="Nuevo">Registrar empleado</button>

<div class="modal fade" data-keyboard="false" data-backdrop="static" id="idModalUpdate" tabindex="-1"></div>
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="idModalElminar" tabindex="-1"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $('#Nuevo').click(function () {
            var url = $('#idModalRegistrar').data('url');
            $.get(url, function (data) {
                $("#idModalRegistrar").html(data);
                $("#idModalRegistrar").modal('show');
            });
        });
    });


    function createModal(url) {
        $.get(url, function (data) {
            $("#idModalUpdate").html(data);
            $("#idModalUpdate").modal('show');
        });

    }

    function createModal(url) {
        $.get(url, function (data) {
            $("#idModalElminar").html(data);
            $("#idModalElminar").modal('show');
        });

    }


</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
