@model MerxProject.Models.Empleado

<h2>PopUpEmpleados</h2>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="modal-dialog modal-lg" style="">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">@ViewBag.title</h4>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("PopUpEmpleados", "Empleado", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            //Informacion de persona
                        <section id="sectionEmp" style="" >
                            <div class="form-horizontal">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Personass.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Personass.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Personass.Nombre, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                                        @Html.HiddenFor(model => model.Personass.idPersona, new { htmlAttributes = new { @class = "form-control",
                                            @disabled = "disabled" }})
                                        @Html.HiddenFor(model => model.Usuarioss.idUsuario, new { htmlAttributes = new { @class = "form-control",
                                            @disabled = "disabled" }})


                                <div class="form-group">
                                    @Html.LabelFor(model => model.Personass.Correo, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Personass.Correo, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Personass.Correo, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Personass.Direccion, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Personass.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Personass.Direccion, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Personass.CodigoPostal, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Personass.CodigoPostal, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Personass.CodigoPostal, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Personass.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Personass.Estado, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Personass.Estado, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Personass.Ciudad, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Personass.Ciudad, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Personass.Ciudad, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Personass.Telefono, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Personass.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Personass.Telefono, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </section>
                        <aside id="asideEmp">
                            <div class="form-horizontal">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                        @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Usuarioss.Rol, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <select name="rol" id="rol" class="form-control" required>
                                            @if (ViewBag.puesto != null && ViewBag.puesto == "Administrador")
                                            {
                                                <option value="Administrador" selected>Administrador</option>
                                                <option value="Empleado">Empleado</option>
                                            }
                                            else
                                            {
                                                <option value ="Administrador"> Administrador </option>
                                                <option value ="Empleado" selected> Empleado </option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <label class="control-label">La contraseña debe tener mínimo 14 caracteres y un signo especial</label>
                                    </div>
                                </div>
                                <div class="form-group" id="password">
                                    @Html.LabelFor(model => model.Usuarioss.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @if (ViewBag.pass != null)
                                        {
                                            <input type="password" name="password" id="pass" class="form-control" required value="@ViewBag.pass"/>
                                        }
                                        else
                                        {
                                            <input type="password" name="password" id="pass" class="form-control" required />
                                        }
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Usuarioss.User, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Usuarioss.User, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Usuarioss.User, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="hidden" name="accion" value="@ViewBag.Accion" />
                                        <input type="submit" value="@ViewBag.title" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>
                        </aside>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

