@model MerxProject.Models.IndexViewModel
@{
    ViewBag.Title = "Administrar";
    Layout = null;
}




<!DOCTYPE html>
<html lang="en">
<head>
    <title>Category</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Little Closet template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/Content/ProductAssets/styles/bootstrap-4.1.2/bootstrap.min.css">
    <link href="~/Content/ProductAssets/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/Content/ProductAssets/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/Content/ProductAssets/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="~/Content/ProductAssets/plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Content/ProductAssets/styles/category.css">
    <link rel="stylesheet" type="text/css" href="~/Content/ProductAssets/styles/Direcciones.css">
    <link rel="stylesheet" type="text/css" href="~/Content/ProductAssets/styles/category_responsive.css">
</head>
<body>



    <div class="super_container">

        <!-- Header -->

        <header class="header">
            <div class="header_overlay"></div>
            <div class="header_content d-flex flex-row align-items-center justify-content-start">
                <div class="logo">
                    <a href="#">
                        <div class="d-flex flex-row align-items-center justify-content-start">
                            <div><a href="../Home/Index"><img src="~/Content/assets/img/logo.png" alt="" max-width="100px" height="40"></a></div>
                        </div>
                    </a>
                </div>
                
                <div class="header_right d-flex flex-row align-items-center justify-content-start ml-auto">


                    @if (Request.IsAuthenticated)
                    {

                        <!-- User -->
                        <div class="user"><a href="@Url.Action("Index", "Manage")"><div><img src="~/Content/ProductAssets/images/user.svg" alt="https://www.flaticon.com/authors/freepik"></div></a></div>
                        <!-- Cart -->
                        if (ViewBag.cantidadCarrito == 0)
                        {
                            <div class="user"><a href="@Url.Action("indexTienda", "Tienda")"><div><img src="~/Content/ProductAssets/images/cart.svg" alt="https://www.flaticon.com/authors/freepik"><div>0</div></div></a></div>

                        }
                        else
                        {

                            <div class="user"><a href="@Url.Action("indexTienda", "Tienda")"><div><img src="~/Content/ProductAssets/images/cart.svg" alt="https://www.flaticon.com/authors/freepik"><div>@ViewBag.cantidadCarrito</div></div></a></div>
                        }
                        <!-- Log Out-->
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="user"><a href="javascript:document.getElementById('logoutForm').submit()"><div><img src="~/Content/ProductAssets/images/logout.svg" alt="https://www.flaticon.com/authors/freepik"></div></a></div>

                        }
                    }
                    else
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                            <li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                        </ul>
                    }
                </div>
            </div>
        </header>

        <div class="super_container_inner">
            <div class="super_overlay"></div>

            <!-- Home -->

            <div class="home">
                <div class="home_container d-flex flex-column align-items-center justify-content-end">
                    <div class="home_content text-center">
                        <div class="home_title">Mi Cuenta</div>
                        <div class="breadcrumbs d-flex flex-column align-items-center justify-content-center">
                            <ul class="d-flex flex-row align-items-start justify-content-start text-center">
                                <li><a href="#">Mi Cuenta</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Products -->

            <div class="products">
                <div class="container">
                    <br />
                    <br />
                    <br />
                    <div class="row products_row products_container grid">

                        @if (Model.HasPassword)
                        {
                            <div class="col-xl-4 col-md-6 grid-item new">
                                <div class="product">
                                    <br />
                                    <div class="ya-card-cell">
                                        <a href="@Url.Action("ChangePassword", "Manage")" class="ya-card__whole-card-link">
                                            <div data-card-identifier="YourOrders" class="a-box ya-card--rich">
                                                <div class="a-box-inner">
                                                    <div class="a-row">
                                                        <div class="a-column a-span3">
                                                            <img alt="Mis pedidos" src="https://images-na.ssl-images-amazon.com/images/G/33/x-locale/cs/ya/images/sign-in-lock._CB485931471_.png">
                                                        </div>
                                                        <div class="a-column a-span9 a-span-last">
                                                            <h2 class="a-spacing-none ya-card__heading--rich a-text-normal">
                                                                Contraseña
                                                            </h2>
                                                            <div><span class="a-color-secondary">Cambiar contraseña</span></div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-xl-4 col-md-6 grid-item new">
                                <div class="product">
                                    <br />
                                    <div class="ya-card-cell">
                                        <a href="@Url.Action("SetPassword", "Manage")" class="ya-card__whole-card-link">
                                            <div data-card-identifier="YourOrders" class="a-box ya-card--rich">
                                                <div class="a-box-inner">
                                                    <div class="a-row">
                                                        <div class="a-column a-span3">
                                                            <img alt="Mis pedidos" src="https://images-na.ssl-images-amazon.com/images/G/33/x-locale/cs/ya/images/sign-in-lock._CB485931471_.png">
                                                        </div>
                                                        <div class="a-column a-span9 a-span-last">
                                                            <h2 class="a-spacing-none ya-card__heading--rich a-text-normal">
                                                                Contraseña
                                                            </h2>
                                                            <div><span class="a-color-secondary">Crear contraseña</span></div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }


                        <!-- Add -->
                        <div class="col-xl-4 col-md-6 grid-item new">
                            <div class="product">
                                <br />
                                <div class="ya-card-cell">
                                    <a href="@Url.Action("ChangeEmail", "Manage", new { email = @ViewBag.userEmail})" class="ya-card__whole-card-link">
                                        <div data-card-identifier="YourOrders" class="a-box ya-card--rich">
                                            <div class="a-box-inner">
                                                <div class="a-row">
                                                    <div class="a-column a-span3">
                                                        <img alt="Mis pedidos" src="@Url.Content("~/Content/assets/img/outlook.png")">
                                                    </div>
                                                    <div class="a-column a-span9 a-span-last">
                                                        <h2 class="a-spacing-none ya-card__heading--rich a-text-normal">
                                                            Seguridad
                                                        </h2>
                                                        <div><span class="a-color-secondary">Editar correo electrónico</span></div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>



                        <div class="col-xl-4 col-md-6 grid-item new">
                            <div class="product">
                                <br />
                                <div class="ya-card-cell">
                                    <a href="https://localhost:44309/Manage/MisDirecciones" class="ya-card__whole-card-link">
                                        <div data-card-identifier="YourOrders" class="a-box ya-card--rich">
                                            <div class="a-box-inner">
                                                <div class="a-row">
                                                    <div class="a-column a-span3">
                                                        <img alt="Direcciones" src="https://images-na.ssl-images-amazon.com/images/G/33/x-locale/cs/ya/images/address-map-pin._CB485934185_.png">
                                                    </div>
                                                    <div class="a-column a-span9 a-span-last">
                                                        <h2 class="a-spacing-none ya-card__heading--rich a-text-normal">
                                                            Direcciones
                                                        </h2>
                                                        <div><span class="a-color-secondary">Editar o agregar direcciones para pedidos y regalos</span></div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Product -->

                    </div>

                </div>

            </div>

            <!-- Footer -->

            <footer id="footer">

                <div class="footer-top">
                    <div class="container">
                        <div class="row">

                            <div class="col-lg-3 col-md-6 footer-contact">
                                <h3>MERX</h3>
                                <p>
                                    Paseo de los insurgentes 2210 <br>
                                    San José de Piletas, León<br>
                                    México <br><br>
                                    <strong>Telefono:</strong> +52 477 238 6919<br>
                                    <strong>Email:</strong>merxprojectbusiness@gmail.com<br>
                                </p>
                            </div>

                            <div class="col-lg-2 col-md-6 footer-links">
                                <h4>Enlaces</h4>
                                <ul>
                                    <li><i class="bx bx-chevron-right"></i> <a href="@Url.Action("Index", "Home")">Home</a></li>
                                    <li><i class="bx bx-chevron-right"></i> <a href="@Url.Action("Index", "Home")">Acerca de nosotros</a></li>
                                    <li><i class="bx bx-chevron-right"></i> <a href="#">Servicios</a></li>
                                    <li><i class="bx bx-chevron-right"></i> <a href="@Url.Action("Tienda", "Producto")">Tienda</a></li>
                                </ul>
                            </div>

                            <div class="col-lg-4 col-md-6 footer-newsletter">
                                <h4>Registrate</h4>
                                <p>Unete a la mejor página en la compra de muebles ecológicos.</p>
                                <form action="" method="post">
                                    <input type="email" name="email"><input type="submit" value="Suscribete" class="btn btn-comprar">
                                </form>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="container d-md-flex py-4">

                    <div class="mr-md-auto text-center text-md-left">
                        <div class="copyright">
                            &copy; Copyright <strong><span>MERX</span></strong>. All Rights Reserved
                        </div>
                        <div class="credits">
                            <!-- All the links in the footer should remain intact. -->
                            <!-- You can delete the links only if you purchased the pro version. -->
                            <!-- Licensing information: https://bootstrapmade.com/license/ -->
                            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bethany-free-onepage-bootstrap-theme/
                    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>-->
                            <!--<Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>-->

                        </div>
                    </div>
                    <!--
            <div class="social-links text-center text-md-right pt-3 pt-md-0">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
                -->
                </div>
            </footer><!-- End Footer -->
        </div>

    </div>

    <script src="~/Content/ProductAssets/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/ProductAssets/styles/bootstrap-4.1.2/popper.js"></script>
    <script src="~/Content/ProductAssets/styles/bootstrap-4.1.2/bootstrap.min.js"></script>
    <script src="~/Content/ProductAssets/plugins/greensock/TweenMax.min.js"></script>
    <script src="~/Content/ProductAssets/plugins/greensock/TimelineMax.min.js"></script>
    <script src="~/Content/ProductAssets/plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="~/Content/ProductAssets/plugins/greensock/animation.gsap.min.js"></script>
    <script src="~/Content/ProductAssets/plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="~/Content/ProductAssets/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="~/Content/ProductAssets/plugins/easing/easing.js"></script>
    <script src="~/Content/ProductAssets/plugins/progressbar/progressbar.min.js"></script>
    <script src="~/Content/ProductAssets/plugins/parallax-js-master/parallax.min.js"></script>
    <script src="~/Content/ProductAssets/plugins/Isotope/isotope.pkgd.min.js"></script>
    <script src="~/Content/ProductAssets/plugins/Isotope/fitcolumns.js"></script>
    <script src="~/Content/ProductAssets/js/category.js"></script>
    <script src="~/Content/SweetAlert/sweetalert2.all.min.js"></script>

    <script>

        $(document).ready(function () {
            $("#add").click(function () {
                Swal.fire(
                    'Espera!',
                    'Sólo puede tener 4 direcciones por cuenta, elimina o edita alguna dirección',
                    'warning'
                )
            });
        });


    </script>

    <style>
        .ya-card--rich:hover {
            background: #eee;
        }



        .ya-card-cell {
            display: table-cell;
            height: 100%;
            padding-left: 20px;
            width: 340px;
        }

        a, a:active, a:link, a:visited {
            text-decoration: none;
            color: #0066c0;
        }

        .ya-card__whole-card-link {
            height: 100%;
            display: block;
        }



        .ya-card-cell:first-child {
            padding-left: 0;
            width: 320px;
        }

        .ya-card-cell {
            display: table-cell;
            height: 100%;
            padding-left: 20px;
            width: 340px;
        }

        .ya-card, .ya-card--rich {
            height: 100%;
        }


        .a-ws div.a-column, div.a-column {
            margin-right: 2%;
            float: left;
            min-height: 1px;
            overflow: visible;
        }

        .a-row .a-span3, .a-ws .a-row .a-ws-span3 {
            width: 23.448%;
        }

        .a-ws .a-ws-span12, div.a-column.a-span-last {
            margin-right: 0;
            float: right;
        }

        .a-ws div.a-column, div.a-column {
            margin-right: 2%;
            float: left;
            min-height: 1px;
            overflow: visible;
        }

        .a-column.a-span-last {
            margin-right: 0;
            float: right;
        }

        .a-row .a-span9, .a-ws .a-row .a-ws-span9 {
            width: 74.448%;
        }

        h1.a-spacing-none, h2.a-spacing-none, h3.a-spacing-none, h4.a-spacing-none {
            padding-bottom: 0;
        }

        .a-spacing-none, .a-ws .a-ws-spacing-none {
            margin-bottom: 0 !important;
        }

        .a-text-normal {
            font-weight: 400 !important;
            font-style: normal !important;
            text-transform: none !important;
            text-decoration: none !important;
        }

        h2 {
            font-weight: 700;
            font-size: 21px;
            line-height: 1.3;
        }

        h1, h2 {
            padding-bottom: 4px;
        }

        h1, h2, h3, h4 {
            text-rendering: optimizeLegibility;
        }

        h1, h2, h3, h4 {
            padding-bottom: 4px;
        }

        h1, h2, h3, h4, h5, h6 {
            padding: 0;
            margin: 0;
        }

        .ya-card__heading--rich {
            color: #111;
            font-size: 17px;
        }

        .a-color-secondary {
            color: #555 !important;
        }
    </style>



</body>
</html>
