@model MerxProject.Models.Compra

@{
    Layout = null;
}

<div class="container">
    <div class="row">
        <div class="col-xs-12" id="myModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">@ViewBag.title</h4>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("popUpCompras", "Compras", FormMethod.Post, new { enctype = "multipart/form-data", @id = "pCompras" }))
                        {
                            @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            @if (ViewBag.accion == "1" || ViewBag.accion == "2")
                            {
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Folio, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Folio, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                        @Html.ValidationMessageFor(model => model.Folio, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Proveedor, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.DropDownListFor(model => model.Proveedor.Id, new SelectList(ViewBag.Proveedores, "Id", "Persona.Nombre"), "Seleccione", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Proveedor, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(model => model.Proveedor.Id)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.Label("Empleado", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Empleado.Personass.Nombre, Model.Empleado.Personass.Nombre, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                        @Html.ValidationMessageFor(model => model.Empleado, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(model => model.Empleado.Id)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.FechaRegistro, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.FechaRegistro, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                        @Html.ValidationMessageFor(model => model.FechaRegistro, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(model => model.FechaRegistro)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Estatus, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.DS_Estatus, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                        @Html.ValidationMessageFor(model => model.Estatus, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(model => model.Estatus)
                                    </div>
                                </div>
                            }
                            @if (ViewBag.accion == "3")
                            {
                                <h3>¿Desea cancelar la compra @Model.Folio?</h3>
                            }
                            @if (ViewBag.accion == "5")
                            {
                                <h3>¿Desea marcar como entregada la compra @Model.Folio?</h3>
                            }
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="hidden" name="accion" value="@ViewBag.Accion" />

                                    <br />
                                    <input type="submit" value="@ViewBag.title" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                                }
                            </div>
                        </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('#Nuevo').click(function () {
            var url = $('#idModalRegistrar').data('url');
            $.get(url, function (data) {
                $("#idModalRegistrar").html(data);
                $("#idModalRegistrar").modal('show');
            });
        });
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

