@model MerxProject.Models.PaginadorGenerico<MerxProject.Models.Proceso>

@{
    ViewBag.Title = "Lista de Procesos actuales";
    var Tiempo = new List<Tuple<string, TimeSpan>>();
    Tiempo = ViewBag.Tiempo;

}
<link href="~/Content/assets/css/main.css" rel="stylesheet" />
<h2>@ViewBag.Title</h2>
@if (Session["res"] != null)
{
    string color;
    string mensaje = Session["res"].ToString();
    Session.Remove("res");

    if (Session["tipo"] != null)
    {
        color = "#18ce65";
    }
    else
    {
        color = "#cc0001";
    }
    <div class="panel panel-default" id="current-panel">
        <table class="table table-hover">
            <thead>
                <tr style="background-color:@color">
                    <th>
                        <p style="text-align: center">
                            @mensaje
                        </p>
                    </th>
                    <th>
                        <a href="#current-panel" class="close" data-dismiss="alert" aria-label="close" id="hide">
                            &times;
                        </a>
                    </th>
                </tr>
            </thead>
        </table>
    </div>
}
@if (ViewBag.error != null)
{
    string error = ViewBag.error;
    ViewBag.error = null;
    <div class="panel panel-default" id="current-panel">
        <table class="table table-hover">
            <thead>
                <tr style="background-color: #cc0001">
                    <th>
                        <p style="text-align: center">
                            @error
                        </p>
                    </th>
                    <th>
                        <a href="#current-panel" class="close" data-dismiss="alert" aria-label="close" id="hide">
                            &times;
                        </a>
                    </th>
                </tr>
            </thead>
        </table>
    </div>
}
<button class="btn btn-primary btn-sm pull-right" data-toggle="modal" id="Nuevo">Nuevo</button>
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="idModalRegistrar" tabindex="-1" data-url='@Url.Action("popUpProcesos", "Proceso", new { applicationUser = "", accion = "1", Id = "" })'></div>
<br />

<table class="table">

    <tr>
        <th>
            Id
        </th>
        <th>
            Proceso
        </th>
        <th>
            Producto
        </th>
        <th>
            Tipo de Mueble
        </th>
        <th>
            Tipo de Material
        </th>
        <th>
            Empleado
        </th>
        <th>
            Color
        </th>
        <th>
            Fecha de registro
        </th>
        <th>
            Tiempo actual
        </th>
        <th>
            Estado
        </th>
    </tr>
    @foreach (var item in Model.Resultado)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inventario.Producto.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inventario.Producto.CategoriaMueble.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inventario.Producto.CategoriaMaterial.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inventario.Color.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tiempo)
        </td>
        <td>
            @foreach(var tiempo in Tiempo)
            {
                if(item.Id == tiempo.Item1)
                {
                    <p>@(tiempo.Item2.ToString(@"hh\:mm")) horas</p>
                }
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @if (item.Estado == "En espera" && item.Nombre != "Finalizado")
            {
                using (Html.BeginForm("TomarPedido", "Proceso", FormMethod.Get))
                {
                    <input type="hidden" name="Id" value="@item.Id" />
                    <input type="submit" name="name" value="Iniciar proceso" class="btn btn-primary btn-sm" />
                }
            }
            @if (item.Estado == "En proceso")
            {
                using (Html.BeginForm("popUpProcesos", "Proceso", FormMethod.Get))
                {
                    <input type="hidden" name="Id" value="@item.Id" />
                    <input type="hidden" name="accion" value="2" />
                    <input type="submit" name="name" value="Siguiente proceso" class="btn btn-primary btn-sm" />
                }
                using (Html.BeginForm("popUpProcesos", "Proceso", FormMethod.Get))
                {
                    <input type="hidden" name="Id" value="@item.Id" />
                    <input type="hidden" name="accion" value="3" />
                    <input type="submit" name="name" value="Pausar" class="btn btn-primary btn-sm" />
                }
            }
            else if (item.Estado == "Detenido")
            {
                using (Html.BeginForm("popUpProcesos", "Proceso", FormMethod.Get))
                {
                    <input type="hidden" name="Id" value="@item.Id" />
                    <input type="hidden" name="accion" value="4" />
                    <input type="submit" name="name" value="Reanudar" class="btn btn-primary btn-sm" />
                }
            }
        </td>
    </tr>
    }
</table>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $('#Nuevo').click(function () {
            var url = $('#idModalRegistrar').data('url');
            $.get(url, function (data) {
                $("#idModalRegistrar").html(data);
                $("#idModalRegistrar").modal('show');
            });
        });
    });
    

     function GetProd(_parametro) {
        var procemessage = "<option value='0'> Please wait...</option>";
        $("#ddlstate").html(procemessage).show();
        var url = "@Url.Action("ProductoPorParametro", "Proceso")";
        $.ajax({
            url: url,
            data: { Parametro: _parametro },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>Selecciona el producto</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                }
                $("#ddlstate").html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    }

    function GetInv(_Id) {
        var procemessage = "<option value='0'> Please wait...</option>";
        $("#ddlcity").html(procemessage).show();
        var url = "@Url.Action("InventarioPorId", "Proceso")";
        $.ajax({
            url: url,
            data: { Id: _Id },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>Selecciona el color</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                }
                $("#ddlcity").html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    }

    $(document).keypress(
        function (event) {
            if (event.which == '13') {
                event.preventDefault();
            }
        });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}