@using MerxProject.Models.CarritoCompras

@model CarritoComprasViewModel

@{
    Layout = null;
    int indiceProducto = 1;
    int i = 0;
    int idAux = 0, idAux2 = 50;
    double subtotal = 0;
    double subTotalAux = 0;
}



<script src="~/Content/SweetAlert/sweetalert2.all.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>



<script>


    function changeSrc() {

        var rates = document.getElementsByName('ship');
        var rate_value;
        for (var i = 0; i < rates.length; i++) {
            if (rates[i].checked) {
                rate_value = rates[i].value;
            }
        }

        console.log(rate_value);
        $("#shipWe").text(rate_value);
        $("#shipWe2").val(rate_value);

    }



</script>

@if (ViewBag.pagoRealizado == "True")
{
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            Swal.fire(
                'Aprobado!',
                'Muchas gracias por su compra, revisa la bandeja de entrada de para consultar su pedido además de consultar el detalle de la misma revise el historial de su cuenta en Paypal.com',
                'success'
            )
        }, false);

    </script>
}


@if (ViewBag.CupNotExit == 1)
{
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            Swal.fire(
                'Espera!',
                'El cupón que intentaste ingresar no existe.',
                'warning'
            )
        }, false);

    </script>
}
else if (ViewBag.CupNotExit == 2)
{
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            Swal.fire(
                'Espera!',
                'El cupón que intentaste ya ha sido utilizado anteriormente.',
                'warning'
            )
        }, false);

    </script>
}




@if (ViewBag.outStock == 1)
{
    <script type="text/javascript">

        document.addEventListener('DOMContentLoaded', function () {
            Swal.fire(
                'Espera!',
                'El producto ya no tiene más existencias por el momento.',
                'warning'
            )
        }, false);




    </script>
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cart</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Little Closet template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/Content/ProductAssets/styles/bootstrap-4.1.2/bootstrap.min.css">
    <link href="~/Content/ProductAssets/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/Content/ProductAssets/styles/cart.css">
    <link rel="stylesheet" type="text/css" href="~/Content/ProductAssets/styles/cart_responsive.css">
</head>
<body>

    <!-- Menu -->


    <div class="super_container">

        <!-- Header -->

        <header class="header">
            <div class="header_overlay"></div>
            <div class="header_content d-flex flex-row align-items-center justify-content-start">
                <div class="logo">
                    <a href="#">
                        <div class="d-flex flex-row align-items-center justify-content-start">
                            <div><a href="../Home/Index"><img src="~/Content/assets/img/logo.png" alt="" max-width="100px" height="40"></a></div>
                        </div>
                    </a>
                </div>
                
                <div class="header_right d-flex flex-row align-items-center justify-content-start ml-auto">


                    @if (Request.IsAuthenticated)
                    {

                        <!-- User -->
                        <div class="user"><a href="@Url.Action("Index", "Manage")"><div><img src="~/Content/ProductAssets/images/user.svg" alt="https://www.flaticon.com/authors/freepik"></div></a></div>
                        <!-- Cart -->
                        if (ViewBag.cantidadCarrito == 0)
                        {
                            <div class="user"><a href="@Url.Action("indexTienda", "Tienda")"><div><img src="~/Content/ProductAssets/images/cart.svg" alt="https://www.flaticon.com/authors/freepik"><div>0</div></div></a></div>

                        }
                        else
                        {

                            <div class="user"><a href="@Url.Action("indexTienda", "Tienda")"><div><img src="~/Content/ProductAssets/images/cart.svg" alt="https://www.flaticon.com/authors/freepik"><div>@ViewBag.cantidadCarrito</div></div></a></div>
                        }
                        <!-- Log Out-->
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="user"><a href="javascript:document.getElementById('logoutForm').submit()"><div><img src="~/Content/ProductAssets/images/logout.svg" alt="https://www.flaticon.com/authors/freepik"></div></a></div>

                        }
                    }
                    else
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                            <li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                        </ul>
                    }
                </div>
            </div>
        </header>

        <div class="super_container_inner">
            <div class="super_overlay"></div>

            <!-- Home -->

            <div class="home">
                <div class="home_container d-flex flex-column align-items-center justify-content-end">
                    <div class="home_content text-center">
                        <div class="home_title">Carrito</div>
                        <div class="breadcrumbs d-flex flex-column align-items-center justify-content-center">
                            <ul class="d-flex flex-row align-items-start justify-content-start text-center">
                                <li><a href="@Url.Action("Index","Home")">Inicio</a></li>
                                <li>Carrito</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Cart -->

            <div class="cart_section">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="cart_container">

                                <!-- Cart Bar -->
                                <div class="cart_bar">
                                    <ul class="cart_bar_list item_list d-flex flex-row align-items-center justify-content-end">
                                        <li class="mr-auto">Producto</li>
                                        <li>Material</li>
                                        <li>Color</li>
                                        @*<li>Size</li>*@
                                        <li>Precio $MXN</li>
                                        <li>Cantidad</li>
                                        <li>Total $MXN</li>
                                    </ul>
                                </div>

                                <!-- Cart Items -->
                                <div class="cart_items">
                                    <ul class="cart_items_list">
                                        @foreach (var item in Model.CarritoCollection)
                                        {
                                            <!-- Cart Item -->

                                        <li class="cart_item item_list d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-end justify-content-start">
                                            <div class="product d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start mr-auto">
                                                <div><div class="product_number">@indiceProducto</div></div>
                                                <div>
                                                    <div class="product_image">
                                                        <img src="@Url.Content(item.Imagen)" alt="">
                                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="700px" height="57.13px" viewBox="0 0 700 400" style="enable-background:new 0 0 700 400;" xml:space="preserve" id="product-svg" class="svg replaced-svg">
                                                            @Html.Raw(@item.SvgColor);
                                                          
                                                       @* <path d="M51.833,311.093l-1.852-34.723v-13.426v-27.777V200l-1.852-30.574                          v-23.148l3.704-5.556l6.944-2.778h4.167h1.852l38.426-5.092V99.981l3.704-4.167h21.296v-8.333V77.296V66.648v-7.87V47.667                          l1.852-6.944v-3.704h7.87c0,0,8.333,2.315,10.185,1.852s19.445,0.463,19.445,0.463l37.5,2.314c0,0,16.204,0,19.907,0                          s24.538-1.389,26.389-1.389s27.314-3.241,27.314-3.241s26.852-2.778,28.704-2.778s14.352-1.852,14.352-1.852h12.5h8.796l3.241,6.482                          v8.333v10.185v7.408v9.722v12.037L350,93.963l3.686-0.926V52.296v-3.704v-7.408v-4.629l5.556-0.463h5.092l6.944,1.852h23.148                          l34.723,0.463l25,2.315h13.426l6.481,1.852l5.093,1.389l2.314-1.389l10.186-0.463h53.24h14.353l5.555-2.778h3.704l2.777,0.463                          l1.853,3.241v4.167v15.278V81v9.259v2.315l18.981,0.463l4.166,0.926v3.241v6.481v11.574v11.111l39.815,2.314l7.87,4.167l3.704,2.777                          l2.777,6.019v6.019v11.111v41.268V301.37v5.556h-4.63h-35.647l-520.833,4.167H51.833z" id="product_shape" style="fill: rgb(65, 155, 210);"></path>*@
                                                        </svg>
                                                    </div>
                                                </div>
                                                <div class="product_name_container">
                                                    <div class="product_name"><a href="product.html">@item.Nombre</a></div>
                                                    @*<div class="product_text" style="color:green">Hay @item.StockProducto Disponibles</div>*@
                                                </div>
                                            </div>



                                           
                                            <div class="product_color product_text"><span>Color: </span>@item.ColorNombre</div>

                                            @* <div class="product_size product_text"><span>Size: </span>L</div>*@
                                            <div class="product_price product_text"><span>Price: </span>$@item.Precio</div>
                                            <div class="product_quantity_container">
                                                <div class="product_quantity ml-lg-auto mr-lg-auto text-center">

                                                    <span class="product_text product_num">@item.Cantidad</span>
                                                    <div class="qty_sub qty_button trans_200 text-center">

                                                        @using (Html.BeginForm("AgregarProductoCarrito", "Producto", FormMethod.Post, new { id = idAux }))
                                                        {
                                                            <input type="hidden" name="id" value=@item.idProducto id=@idAux>
                                                            <input type="hidden" name="accion" value="2" id=@idAux>
                                                            <input type="hidden" name="color" value="@item.CodigoColor" id=@idAux>
                                                            <input type="hidden" name="idMaterial" value="@item.idMaterial" id=@idAux>
                                                            <input type="hidden" name="SvgColor" value="@item.SvgColor" id=@idAux>

                                                            <a onclick="$('#@idAux').submit(); return false;">-</a>
                                                        }

                                                    </div>
                                                    <div class="qty_add qty_button trans_200 text-center">
                                                        @using (Html.BeginForm("AgregarProductoCarrito", "Producto", FormMethod.Post, new { id = idAux2 }))
                                                        {
                                                            <input type="hidden" name="id" value=@item.idProducto id=@idAux2>
                                                            <input type="hidden" name="accion" value="1" id=@idAux2>
                                                            <input type="hidden" name="color" value="@item.CodigoColor" id=@idAux2>
                                                            <input type="hidden" name="idMaterial" value="@item.idMaterial" id=@idAux>
                                                            <input type="hidden" name="esCarrito" value="True" id=@idAux2>
                                                            <input type="hidden" name="SvgColor" value="@item.SvgColor" id=@idAux>
                                                            <input type="hidden" name="cantidadProducto" value="1" id=@idAux2>


                                                            <a onclick="$('#@idAux2').submit(); return false;">+</a>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product_total product_text"><span>Total: </span>$@item.precioTotal</div>
                                        </li>
                                            subtotal += item.precioTotal;
                                            indiceProducto++;
                                            i++;
                                            idAux++;
                                            idAux2++;
                                        }
                                    </ul>
                                </div>

                                <!-- Cart Buttons -->
                                <div class="cart_buttons d-flex flex-row align-items-start justify-content-start">
                                    <div class="cart_buttons_inner ml-sm-auto d-flex flex-row align-items-start justify-content-start flex-wrap">
                                        <div class="button button_continue trans_200"><a href="@Url.Action("Tienda", "Producto")">Seguir Comprando</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (ViewBag.cantidadCarrito > 0)
                    {
                        <div class="row cart_extra_row">

                            <div class="col-lg-6">
                                <div class="cart_extra cart_extra_1">
                                    @using (Html.BeginForm("IndexTienda", "Tienda", FormMethod.Post))
                                    {
                                        <div class="cart_extra_content cart_extra_coupon">
                                            <div class="cart_extra_title">Coupon code</div>
                                            <div class="coupon_form_container">
                                                @if (ViewBag.descuentoGuardado != null)
                                                {
                                                    <input type="text" class="coupon_input" name="cupon" value="Ya haz canjeado un cupón" disabled>
                                                }
                                                else
                                                {
                                                    <input type="text" class="coupon_input" name="cupon" required="required">
                                                    <input type="hidden" name="subtotal" value=@subtotal>
                                                    <button type="submit" class="coupon_button">Aplicar</button>
                                                }
                                            </div>
                                            <div class="coupon_text">Sólo podrás utilizar un cupón por cada compra.</div>
                                            <div class="shipping">
                                                <div class="cart_extra_title">Método de Envío</div>
                                                <ul>
                                                    <li class="shipping_option d-flex flex-row align-items-center justify-content-start">
                                                        <label class="radio_container">
                                                            <input type="radio" id="radio_2" value="$1" name="ship" class="shipping_radio" onclick="changeSrc()">
                                                            <span class="radio_mark"></span>
                                                            <span class="radio_text">Envío Estandard</span>
                                                        </label>
                                                        <div class="shipping_price ml-auto">$1</div>
                                                    </li>
                                                    <li class="shipping_option d-flex flex-row align-items-center justify-content-start">
                                                        <label class="radio_container">
                                                            <input type="radio" id="radio_3" value="Gratis" name="ship" class="shipping_radio" onclick="changeSrc()">
                                                            <span class="radio_mark"></span>
                                                            <span class="radio_text">Recoger en Sucursal</span>
                                                        </label>
                                                        <div class="shipping_price ml-auto">Gratis</div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="col-lg-6 cart_extra_col">
                                <div class="cart_extra cart_extra_2">
                                    <div class="cart_extra_content cart_extra_total">
                                        <div class="cart_extra_title">Cart Total</div>
                                        <ul class="cart_extra_total_list">
                                            <li class="d-flex flex-row align-items-center justify-content-start">
                                                <div class="cart_extra_total_title">Subtotal</div>
                                                <div class="cart_extra_total_value ml-auto">$@subtotal</div>
                                            </li>
                                            <li class="d-flex flex-row align-items-center justify-content-start">
                                                <div class="cart_extra_total_title">Envío</div>
                                                <div class="cart_extra_total_value ml-auto" id="shipWe">$0</div>
                                            </li>
                                            @if (ViewBag.descuentoGuardado != null)
                                            {
                                                <li class="d-flex flex-row align-items-center justify-content-start">
                                                    <div class="cart_extra_total_title">Cupón</div>
                                                    <div class="cart_extra_total_value ml-auto">@(ViewBag.descuentoGuardado * 100)%</div>
                                                </li>
                                            }
                                            <li class="d-flex flex-row align-items-center justify-content-start">
                                                <div class="cart_extra_total_title">Total</div>
                                                @if (ViewBag.subTotalDesc != null)
                                                {
                                                    subTotalAux = @ViewBag.subTotalDesc;
                                                    <div class="cart_extra_total_value ml-auto">$@subTotalAux</div>
                                                }
                                                else
                                                {
                                                    if (ViewBag.descuentoGuardado != null)
                                                    {

                                                        //subTotalAux = ViewBag.descuentoGuardado * subtotal;

                                                        subTotalAux = (subtotal - (ViewBag.descuentoGuardado * subtotal));

                                                        <div class="cart_extra_total_value ml-auto">$@subTotalAux</div>
                                                    }
                                                    else
                                                    {
                                                        <div class="cart_extra_total_value ml-auto">$@subtotal</div>
                                                    }

                                                }

                                            </li>
                                        </ul>

                                        @using (Html.BeginForm("PagoProducto", "Tienda", FormMethod.Get, new { id = "payment" }))
                                        {


                                            <input type="hidden" name="subtotal" value=@subtotal id="pago3">

                                            if (subTotalAux > 0)
                                            {
                                                <input type="hidden" name="total" value="@subTotalAux" id="pago">

                                            }
                                            else
                                            {

                                                <input type="hidden" name="total" value="@subtotal" id="pago">
                                            }
                                            <input type="hidden" name="cupon" value=@ViewBag.descuentoGuardado id="pago1">
                                            <input type="hidden" name="ship" value="" id="shipWe2">
                                            <input type="hidden" name="ship" value="" id="shipWe2">


                                            <div class="checkout_button trans_200">
                                                <a id=@idAux name=@idAux href="" onclick="$('#payment').submit(); return false;">
                                                    Proceder al Pago
                                                </a>

                                            </div>

                                        }


                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>

            <!-- Footer -->

            <footer id="footer">

                <div class="footer-top">
                    <div class="container">
                        <div class="row">

                            <div class="col-lg-3 col-md-6 footer-contact">
                                <h3>MERX</h3>
                                <p>
                                    Paseo de los insurgentes 2210 <br>
                                    San José de Piletas, León<br>
                                    México <br><br>
                                    <strong>Telefono:</strong> +52 477 238 6919<br>
                                    <strong>Email:</strong>merxprojectbusiness@gmail.com<br>
                                </p>
                            </div>

                            <div class="col-lg-2 col-md-6 footer-links">
                                <h4>Enlaces</h4>
                                <ul>
                                    <li><i class="bx bx-chevron-right"></i> <a href="@Url.Action("Index", "Home")">Home</a></li>
                                    <li><i class="bx bx-chevron-right"></i> <a href="@Url.Action("Index", "Home")">Acerca de nosotros</a></li>
                                    <li><i class="bx bx-chevron-right"></i> <a href="#">Servicios</a></li>
                                    <li><i class="bx bx-chevron-right"></i> <a href="@Url.Action("Tienda", "Producto")">Tienda</a></li>
                                </ul>
                            </div>

                            <div class="col-lg-4 col-md-6 footer-newsletter">
                                <h4>Registrate</h4>
                                <p>Unete a la mejor página en la compra de muebles ecológicos.</p>
                                <form action="" method="post">
                                    <input type="email" name="email"><input type="submit" value="Suscribete" class="btn btn-comprar"> 
                                </form>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="container d-md-flex py-4">

                    <div class="mr-md-auto text-center text-md-left">
                        <div class="copyright">
                            &copy; Copyright <strong><span>MERX</span></strong>. All Rights Reserved
                        </div>
                        <div class="credits">
                            <!-- All the links in the footer should remain intact. -->
                            <!-- You can delete the links only if you purchased the pro version. -->
                            <!-- Licensing information: https://bootstrapmade.com/license/ -->
                            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bethany-free-onepage-bootstrap-theme/
                    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>-->
                            <!--<Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>-->

                        </div>
                    </div>
                    <!--
            <div class="social-links text-center text-md-right pt-3 pt-md-0">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
                -->
                </div>
            </footer><!-- End Footer -->
        </div>

    </div>

    @*<script src="~/Content/ProductAssets/js/jquery-3.2.1.min.js"></script>*@
    <script src="~/Content/ProductAssets/styles/bootstrap-4.1.2/popper.js"></script>
    <script src="~/Content/ProductAssets/styles/bootstrap-4.1.2/bootstrap.min.js"></script>
    <script src="~/Content/ProductAssets/plugins/greensock/TweenMax.min.js"></script>
    <script src="~/Content/ProductAssets/plugins/greensock/TimelineMax.min.js"></script>
    <script src="~/Content/ProductAssets/plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="~/Content/ProductAssets/plugins/greensock/animation.gsap.min.js"></script>
    <script src="~/Content/ProductAssets/plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="~/Content/ProductAssets/plugins/easing/easing.js"></script>
    <script src="~/Content/ProductAssets/plugins/parallax-js-master/parallax.min.js"></script>
    <script src="~/Content/ProductAssets/js/cart.js"></script>
</body>
</html>
