@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html lang="es-mx">

<head>
    <meta charset="utf-8">


    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="../Content/assets/ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../Content/assets/ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../Content/assets/ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../Content/assets/ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../Content/assets/ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../Content/assets/ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../Content/assets/ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../Content/assets/ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../Content/assets/ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../Content/assets/ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../Content/assets/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../Content/assets/ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../Content/assets/ico/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../Content/assets/ico/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Content/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/aos/aos.css" rel="stylesheet">


    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Little Closet template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/Content/ProductAssets/styles/bootstrap-4.1.2/bootstrap.min.css">
    <link href="~/Content/ProductAssets/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/Content/ProductAssets/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/Content/ProductAssets/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="~/Content/ProductAssets/plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Content/ProductAssets/styles/category.css">
    <link rel="stylesheet" type="text/css" href="~/Content/ProductAssets/styles/category_responsive.css">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />


    <!-- Template Main CSS File -->
    <link href="~/Content/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Bethany - v2.0.0
    * Template URL: https://bootstrapmade.com/bethany-free-onepage-bootstrap-theme/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ========================================================= -->
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container">
            <div class="header-container d-flex align-items-center">
                <div class="logo mr-auto">
                    <!-- Uncomment below if you prefer to use an image logo -->
                    <a href="@Url.Action("Index","Home")"><img src="~/Content/assets/img/logo.png" alt="" class="img-fluidMerx"></a>
                </div>

                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @style = "display:inline;" }))
                {
                <nav class="nav-menu d-none d-lg-block">
                    <ul style="white-space:nowrap;">
                        <li class="active"><a href="#header">Inicio</a></li>
                        <li><a href="#about">Acerca de nosotros</a></li>
                        <li><a href="#services">Servicios</a></li>
                        <li><a href="@Url.Action("Tienda", "Producto")">Tienda</a></li>
                        <li><a href="@Url.Action("ConsultarPedido", "Proceso")">Pedido</a></li>
                        <li><a href="#contact">Contacto</a></li>
                        <li><a href="@Url.Action("Index", "Home")">Acerca de nosotros</a></li>
                        <li><a href="@Url.Action("Index", "Home")">Servicios</a></li>
                        <li><a href="@Url.Action("Index", "Home")">Productos</a></li>
                        <li><a href="#">Tienda</a></li>
                        <li class="drop-down">
                            <a href="">Categorias</a>
                            <ul>
                                <li><a href="#">Mesas</a></li>
                                <li><a href="#">Sillones</a></li>
                                <li><a href="#">Camas</a></li>
                                <li><a href="#">Escritorios</a></li>
                                <li><a href="#">Sillas</a></li>
                            </ul>
                        </li>
                        <li><a href="@Url.Action("Index", "Home")">Contacto</a></li>
                        @if (Request.IsAuthenticated)
                        {
                            string Nombre = "Usuario";
                            if (Session["user"] != null)
                            {
                                Nombre = Session["user"].ToString();

                                if (Nombre.Contains('@'))
                                {
                                    Nombre = Nombre.Substring(0, Nombre.IndexOf('@'));
                                }
                            }
                            <li>
                                @Html.ActionLink("Hola " + Nombre + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage"})
                            </li>
                            <li style="display: inline">
                                <a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a>
                            </li>
                        }
                        else
                        {
                        <li>@Html.ActionLink("Registrarse", "Login", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                        }   
                    </ul>
                </nav><!-- .nav-menu -->
                }
            </div><!-- End Header Container -->
        </div>
    </header><!-- End Header -->
    <div>
        @RenderBody()
    </div>
    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>MERX</h3>
                        <p>
                            Paseo de los insurgentes 2210 <br>
                            San José de Piletas, León<br>
                            México <br><br>
                            <strong>Telefono:</strong> +52 477 238 6919<br>
                            <strong>Email:</strong>merxprojectbusiness@gmail.com<br>
                        </p>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Enlaces</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="@Url.Action("Index", "Home")">Acerca de nosotros</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Servicios</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="@Url.Action("Tienda", "Producto")">Tienda</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Registrate</h4>
                        <p>Unete a la mejor página en la compra de muebles ecologicos.</p>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Suscribete">
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div class="container d-md-flex py-4">

            <div class="mr-md-auto text-center text-md-left">
                <div class="copyright">
                    &copy; Copyright <strong><span>MERX</span></strong>. All Rights Reserved
                </div>
                <div class="credits">
                    <!-- All the links in the footer should remain intact. -->
                    <!-- You can delete the links only if you purchased the pro version. -->
                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bethany-free-onepage-bootstrap-theme/
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>-->
                    <!--<Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>-->

                </div>
            </div>
            <!--
    <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
    </div>
        -->
        </div>
    </footer><!-- End Footer -->
            <!-- Vendor JS Files -->
            <script src="~/Content/assets/vendor/jquery/jquery.min.js"></script>
            <script src="~/Content/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="~/Content/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
            <script src="~/Content/assets/vendor/php-email-form/validate.js"></script>
            <script src="~/Content/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
            <script src="~/Content/assets/vendor/counterup/counterup.min.js"></script>
            <script src="~/Content/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
            <script src="~/Content/assets/vendor/venobox/venobox.min.js"></script>
            <script src="~/Content/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
            <script src="~/Content/assets/vendor/aos/aos.js"></script>


            @* <script src="~/Content/ProductAssets/js/jquery-3.2.1.min.js"></script> *@
            <script src="~/Content/ProductAssets/styles/bootstrap-4.1.2/popper.js"></script>
            <script src="~/Content/ProductAssets/styles/bootstrap-4.1.2/bootstrap.min.js"></script>
            <script src="~/Content/ProductAssets/plugins/greensock/TweenMax.min.js"></script>
            <script src="~/Content/ProductAssets/plugins/greensock/TimelineMax.min.js"></script>
            <script src="~/Content/ProductAssets/plugins/scrollmagic/ScrollMagic.min.js"></script>
            <script src="~/Content/ProductAssets/plugins/greensock/animation.gsap.min.js"></script>
            <script src="~/Content/ProductAssets/plugins/greensock/ScrollToPlugin.min.js"></script>
            <script src="~/Content/ProductAssets/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
            <script src="~/Content/ProductAssets/plugins/easing/easing.js"></script>
            <script src="~/Content/ProductAssets/plugins/progressbar/progressbar.min.js"></script>
            <script src="~/Content/ProductAssets/plugins/parallax-js-master/parallax.min.js"></script>
            <script src="~/Content/ProductAssets/plugins/Isotope/isotope.pkgd.min.js"></script>
            <script src="~/Content/ProductAssets/plugins/Isotope/fitcolumns.js"></script>
            <script src="~/Content/ProductAssets/js/category.js"></script>

            <!-- Template Main JS File -->
            <script src="~/Content/assets/js/main.js"></script>
</body>

</html>
