@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="57x57" href="../Content/assets/ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../Content/assets/ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../Content/assets/ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../Content/assets/ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../Content/assets/ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../Content/assets/ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../Content/assets/ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../Content/assets/ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../Content/assets/ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../Content/assets/ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../Content/assets/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../Content/assets/ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../Content/assets/ico/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../Content/assets/ico/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <title>@ViewBag.Title - Menú administrador</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @style = "display:inline;" }))

    {
        <div class="navbar navbar-inverse navbar-fixed-top" style="display:inline-block">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="logo mr-auto">
                        <a href="../Home/Index"><img src="~/Content/assets/img/MerxWhite.png" alt="" class="img-fluidMerx" max-width="100px" height="40" style="padding-top:5px; padding-right:20px; padding-left:5px;"></a>
                    </div>

                </div>

                <div class="navbar-collapse collapse">

                    <ul class="nav navbar-nav" style="white-space:nowrap;">
                        <li>@Html.ActionLink("Dashboard", "Dashboard", "Admin")</li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Administrar Productos</a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Procesos", "ListaProcesos", "Proceso")</li>
                                <li><a href="../Producto/ListaProducto">Productos</a></li>
                                <li><a href="../Mueble/ListaMueble">Categorias muebles</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Administrar recursos</a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Proveedores", "ListaProveedor", "Proveedor")</li>
                                <li>@Html.ActionLink("Materiales", "ListaMaterial", "Material")</li>
                                <li>@Html.ActionLink("Herramientas", "ListaHerramienta", "Herramienta")</li>
                                <li>@Html.ActionLink("Colores", "ListaColor", "Color")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Usuarios</a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Clientes", "listaWey", "Account")</li>
                                <li>@Html.ActionLink("Empleados", "ListaEmpleado", "Empleado")</li>
                            </ul>
                        </li>
                        @if (Request.IsAuthenticated)
                        {
                            string Nombre = "Usuario";
                            if (Session["user"] != null)
                            {
                                Nombre = Session["user"].ToString();
                            }
                            <li>
                                @Html.ActionLink("Hola " + Nombre + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                            </li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                            <li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                        }
                    </ul>
                    
                </div>

            </div>
        </div>
    }
        <div class="container body-content">
            <br />
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year -  Merx &copy; </p>
            </footer>
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>

